<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
      </button>
      <% if user_signed_in? %>
        <%= link_to categories_path, class: 'navbar-brand' do %>
          <i class="fa fa-play-circle"></i>  <span class="light">Restaurantly</span>
        <% end %>
      <% else %>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <i class="fa fa-play-circle"></i>  <span class="light">Restaurantly</span>
        <% end %>
      <% end %>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <% if user_signed_in? %>
        <li class="page-scroll">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        </li>
        <% else %>
        <li class="page-scroll">
          <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' do %>
            <i class="fa fa-facebook"></i> Sign in with Facebook
          <% end %>
        </li>
        <% end %>
    </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>