<%= render 'shared/navhidden' %>

<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Restaurantly</h1>
          <p class="intro-text">Get the scoop on local restaurants.  Sign in to read or post reveiws on your favoite spots! </p>
        </div>
    </div>
    </div>
  </div>
</section>





